.statusStyleActive {
    width: 100% !important;
    .ant-select-selector {
      width: 100% !important;
      background-color: #0075FF !important;
      text-align: center !important;
      .ant-select-selection-item {
        color: white !important;
        font-weight: 550 !important;
      }
    }
  }
.GfBDy .ant-select.statusStyleActive .ant-select-arrow svg {
    fill: white !important; /* Change this to your desired fill color */
}

.statusStyleInactive {
    width: 100% !important;
    .ant-select-selector {
        width: 100% !important;
        background-color: #F0E68C !important;
        text-align: center !important;
        .ant-select-selection-item {
        color: black !important;
        font-weight: 550 !important;
        }
    }
}
.GfBDy .ant-select.statusStyleInactive .ant-select-arrow svg {
    fill: black !important; /* Change this to your desired fill color */
}

.statusStyleBlocked {
    width: 100% !important;
    .ant-select-selector {
        width: 100% !important;
        background-color: #840000 !important;
        text-align: center !important;
        .ant-select-selection-item {
        color: white !important;
        font-weight: 550 !important;
        }
    }
}
.statusStyleRefuse {
    width: 100% !important;
    .ant-select-selector {
        width: 100% !important;
        background-color:red !important;
        text-align: center !important;
        .ant-select-selection-item {
        color: white !important;
        font-weight: 550 !important;
        }
    }
}
.ant-select-arrow svg {
    fill: black !important; /* Change this to your desired fill color */
}

.statusStyleNormal {
    width: 100% !important;
    .ant-select-selector {
        width: 100% !important;
        text-align: center !important;
        .ant-select-selection-item {
        color: black !important;
        font-weight: 550 !important;
        }
    }
}

.dropdownCode {
    /* width: 50% !important; */
    .ant-select-selector {
        text-align: center !important;
    }
}

.dropdownTaskFilter {
    width: 100% !important;
    .ant-select-selector {
        text-align: center !important;
    }
}



.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    /* width: 100% !important; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.custom-select-border .ant-select-selector {
    border-color: red !important;
}


.custom-select-border .ant-table-container {
  border-color: red !important; /* Change 'red' to your desired color */
  border-width: 1px !important;
  border-style: solid !important;
}

.dropdownCode .ant-select-selector {
    border-color: rgb(227, 230, 239) !important;
  }
